<%= render "layouts/shared/navbar_mini" %>
<%= render "reservar_table" %>
<%= render "user_add_modal" %>

<main class="container-fluid tables-background" role="main">
	<div class="page-header">
		<center>
			<h2> Te damos la bienvenida a la reserva de mesas</h2>
		</center>	
	</div>
	<div class="row">
		<div class="sep-10"></div>
		<div class="sep-80">
			<p>
				<div class="sq-green"></div> Mesa disponible <br>
				<div class="sq-yellow"></div> Mesa reservada <br>
				<div class="sq-puka"></div> Mesa confirmada <br>
			</p>
			<div class="alert alert-danger alert-tables">
				<!--<b><i class="fa fa-info"></i></b>--> 
				La disposición final de las mesas puede ser distinta a la que ves en tu pantalla. Por favor, para verificar la posición de tu mesa, haz click <b><a href="<%= asset_path 'plano_mesas.pdf'%>" target="_blank">aquí.</a></b>
			</div>
		</div>
		<div class="sep-10"></div>
		
	</div>
	<br>

	<div class="row">
		<center>
			<div class="sector-row">
				<div class="table_sector table_sector_half"> 
					<center>
						<h4>
							Sección uno					
						</h4>

						<% (1..66).to_a.each do |i|%>
							<%= render "table_icon", id: i %>
						<%end%>
					</center>
				</div>
				<div class="sector-separator"></div>
				<div class="table_sector table_sector_half second_section">
					<center>
						<h4>
							Sección dos
						</h4>

						<% (67..126).to_a.each do |i|%>
							<%= render "table_icon", id: i %>
						<%end%><br>
						<% 6.times do %>
							<%= render "invisible_table" %>
						<% end %>
					</center>
				</div>
			</div>
		</center>
	</div>
	<br>
	<div class="row">
		<center>
			<div class="table_sector">
				<center>
					<h4>
						Sección tres
					</h4>

					<% (127..288).to_a.each do |i|%>
						<%= render "table_icon", id: i %>
					<%end%>
				</center>
			</div>
		</center>
	</div>
	<br>
	<br>

</main>

<script type="text/javascript">
	$(".table-disponible").click(function(){
		//<!-- esta funcion recupera el id de la mesa en la que se hizo click y genera el modal para la reserva de mesas-->
		var id = $(this).attr("id");
		$("#user_reserve_modal").find("form").attr("action", "/reserve/"+id);
		$("#user_reserve_modal").modal("show");
	});

	$(".table-appendable").click(function(){
		var id = $(this).attr("id");
		var table_group = $(this).attr("data-group-name");
		$("#user_add_modal").find("form").attr("action", "/join/"+id);
		$("#table-number").text(id);
		$("#table-group").text(table_group);
		$("#user_add_modal").modal("show");
	});
</script>