<%= render "layouts/shared/navbar" %>
<div class="container " style="padding-top: 20px;">
	<div class="row">
		<center>
			<div class="table_sector table_sector_half"> 
				<center>
					<h4>
						Sección uno	
					</h4>

					<% (1..66).to_a.each do |i|%>
						<%= render "admin/tables/table_icon_admin", id: i %>
					<%end%>
				</center>
			</div>
			<div class="sector-separator"></div>
			<div class="table_sector table_sector_half">
				<center>
					<h4>
						Sección dos
					</h4>

					<% (67..126).to_a.each do |i|%>
						<%= render "admin/tables/table_icon_admin", id: i %>
					<%end%>
					<br>
					<% 6.times do %>
						<%= render "invisible_table" %>
					<% end %>
				</center>
			</div>
		</center>
	</div>
	<br>
	<div class="row">
		<center>
			<div class="table_sector">
				<center>
					<h4>
						Sección tres
					</h4>

					<% (127..288).to_a.each do |i|%>
						<%= render "admin/tables/table_icon_admin", id: i %>
					<%end%>
				</center>
			</div>
		</center>
	</div>
	<div class="row">
		<center>
			<div class="table_sector">
				<center>
					<h4>Seccion VIP</h4>
					<% (300..303).to_a.each do |i| %>
						<%= render "admin/tables/table_icon_admin", id: i %>
					<% end %>
				</center>
			</div>
		</center>
	</div>
	<br>
	<br>

</div>