<%= render "layouts/shared/navbar" %>
<%= render "reserve_modal" %>
<%= render "confirm_modal" if @table.reserved? %>
<%= render "unconfirm_modal" if @table.confirmed? %>
<%= render "cancel_modal" if not @table.free? %>
<%= render "add_member_modal" %>

<% @table.users.each do |user| %>
	<%= render "edit_member_modal", user: user %>
	<%= render "delete_member_modal", user: user %>
	
<% end %>

<div class="container">
	<div class="page-header">
		<h1>Mesa #<%= @table.id %></h1>
		<%= render @table.status.downcase %>
	</div>
	<div class="row">
		<% if @error_message %>
			<div class="alert alert-danger" role="alert"><%= @error_message %></div>
		<% end %>
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Detalles de la mesa</h3>
				</div>
				<div class="panel panel-body">
					<b>Nombre del grupo:</b> <%= @table.group_name or "-- mesa sin reserva --" %> <br>
					<b>Propietario:</b> <%= @table.owner ? @table.owner.name : "-- mesa sin reserva --" %> <br>
					<b>Contacto:</b> <%= @table.owner ? @table.owner.phone : "-- mesa sin reserva --" %> <br>
					<b>Cant. max. de miembros:</b> <%= @table.max_people or "-- mesa sin reserva --" %> <br>
					<b>Miembros registrados:</b> <%= @table.users.count %> <br><br>

					<% if @table.max_people and @table.users.count < @table.max_people %>
						<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#add_member_modal"><i class="fa fa-user-plus"></i> Añadir miembro</button>
					<% end %>

					<% if @table.free? %>
						<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#reserve_modal">Reservar</button>
					<% end %>

					<% if @table.reserved? %>
						<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#confirm_modal"><i class="fa fa-check"></i> Confirmar</button>
					<% end %>

					<% if @table.confirmed? %>
						<button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#unconfirm_modal"><i class="fa fa-undo"></i> Deshacer confirmación</button>
					<% end %>

					<% if not @table.free? %>
						<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#cancel_modal"><i class="fa fa-ban"></i> Cancelar</button>
					<% end %>

				</div>
				<% if @table.users.count > 0 %>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Teléfono</th>
								<th>Nº Lote</th>
								<th>Nº Factura</th>
								<th></th>
							</tr>	
						</thead>
						<tbody>
							<% @table.users.each do |user| %>
								<tr>
									<td><%= user.name %></td>
									<td><%= user.phone %></td>
									<td><%= user.username %></td>
									<td><%= user.password %></td>
									<td>
										<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#edit_member_<%= user.id %>_modal"><i class="fa fa-edit"></i></button>
										<% if @table.owner_id != user.id %>
											<button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete_member_<%= user.id %>_modal"><i class="fa fa-trash"></i></button>
										<% end %>
									</td>
								</tr>
							<% end %>
						</tbody>
						
					</table>
				<% end %>
			</div>
		</div>
	</div>
</div>
